body {
    width: 100%;
    padding: 0.1%;
    height: fit-content;
}


/* ****** HEADER ********* */
.header {
    text-align: center;
    height: fit-content;
    margin: 0 auto;
    width: 55%;
    background-color: rgba(4, 44, 120, 0.5);
    padding-block: 1%;
}

.header h1 {
    width: fit-content;
    margin: 0 auto;
    border-radius: 10%;
    padding-inline: 1%;

    color: rgb(22, 72, 165);

    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

/* --------  menu levels --------- */
.levels-bar {
    width: 70%;
    height: fit-content;

    margin: 0 auto;
    text-align: center;
}

.menu-levels {
    height: fit-content;
    width: 35%;

    border: 0.3vw inset rgb(25, 50, 91);
    border-radius: 10%;

    padding-block: 1%;
    padding-inline: 1%;
    margin-block: 2%;

    font-weight: 500;
    font-size: 0.8vw;

    color: white;
    background-color: rgba(4, 44, 120, 0.5);
}

.menu {
    display: none;
    height: fit-content;
    width: 80%;

    border-radius: 5%;

    margin: 0 auto;
}

.menu button {
    margin-inline: 0.1%;
    height: 100%;
    width: 40%;

    border: 0.1vw hidden rgb(255, 255, 255);

    font-size: 1.4vw;
    font-weight: 500;

    padding-block: 1%;
    padding-inline: 0%;

    color: white;
    background-color: rgba(4, 44, 120, 0.5);
}

/*  ------------ menu levels  -----------*/

.stats-bar {
    height: 10%;
    width: 100%;

    padding: 2%;
    margin: 0 auto;
}

.show-count-block {
    display: inline-flex;
    justify-content: center;

    padding: 0.5% 1.5%;
    margin-inline-start: 1%;

    width: 10%;

    border-radius: 10%;
    background-color: black;
    color: chartreuse;
    font-size: 0.7vw;
}

.marked-count-block {
    display: inline-flex;
    justify-content: center;

    padding: 0.5% 1.5%;
    margin-inline-start: 1%;

    width: 10%;

    border-radius: 10%;
    background-color: black;
    color: chartreuse;
    font-size: 0.7vw;
    ;
}

.time-block {
    display: inline-flex;
    justify-content: center;

    padding: 0.05% 0.01%;
    margin-inline-start: 1%;

    width: 23%;

    border-radius: 10%;
    background-color: black;
    color: chartreuse;
    font-size: 0.8vw;
}

.stats {
    display: inline-block;
    margin: 0 auto;
}

/* ***************** CONTENT ********************** */
.content {
    margin: 0 auto;
    width: 50%;
    text-align: center;

    margin-block-start: 1%;

    padding-block: 1%;
    padding-inline: 0.2%;
    background-color: rgba(4, 44, 120, 0.5);
}

.best-record {
    position: inline-block;
    height: fit-content;
    width: 40%;
    display: block;
    background-color: rgb(139, 161, 203);

    margin: 0 auto;
    margin-block-start: 3%;

    font-size: 1.3vw;
    color: rgb(22, 72, 165);
    font-style: italic;
}

.best-record h1 {
    display: inline;
}

.best-record span {
    font-size: 2.5vw;
}

.best-record h2 {
    color: rgb(8, 34, 82);
}


/* *****  LIVES  ******** */
.lives {
    text-align: center;
    width: 80%;
    font-size: 1.8vw;
    color: rgb(22, 72, 165);
}

.hints {
    text-align: center;
    width: 80%;
    font-size: 1.8vw;
    color: rgb(22, 72, 165);
}

.lives-box img {
    width: 3%;
    border-radius: 50%;
    margin-inline: 1.8%;
    margin-block-start: 1%;
    border-style: outset;
}

/* -------- HINTS -------- */
.hints-box img {
    width: 3%;
    border-radius: 50%;
    margin-inline: 1.8%;
    border-style: outset;
}



/* ---------------- SAFE CLICK -------- */
.btns {
    margin: 0 auto;
    margin: 3% -5%;
    width: 110%;

    color: rgba(22, 72, 195, 1);
    font-weight: 800;
    font-size: 1.3vw;
}

.btns span {
    margin: 0 auto;
    margin: 0.1%;
}

.btns button {
    margin: 1% 0.1%;
    padding: 1% 1%;
    border: 0.1vw outset white;

    color: white;
    font-size: 1.3vw;
}

.clicker {
    background-color: rgba(4, 44, 120, 0.5);
}

.darkMode {
    background-color: black;
}

.undo {
    background-color: rgba(212, 102, 0, 0.9);
}

.seven-boom {
    background-color: rgba(57, 233, 8, 0.9);
}

.mega-hint {
    background-color: rgba(216, 9, 33, 0.9);
}

.manual-mines {
    background-color: rgba(68, 20, 145, 0.9);
}

.mine-exterminator {
    background-color: rgba(179, 193, 32, 0.9);
}

/* ----------------------------------------*/
.smiley {
    display: block;
    margin: 0 auto;
    margin-block: 5%;
    padding: 2%;
    width: 10%;
}

.board-container {
    margin: 0 auto;
    width: fit-content;
}

.cell {
    width: 60px;
    height: 60px;
    color: rgb(29, 7, 152);
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;

    border: 6px inset rgb(102, 123, 208);
    border-radius: 15%;
    background-color: rgba(102, 123, 208, 0.35);
}

.cell span {
    display: none;
}

.marked {
    border: 6px outset rgb(162, 19, 5);
}

.revealed {
    border-style: outset;
    background-color: rgba(82, 103, 255, 0.70);
}

.revealed span {
    display: inline;
}

.hint {
    border-style: inset;
    background-color: rgba(112, 34, 175, 0.7);
}

.mine-Nearby {
    color: rgb(234, 13, 1);
    font-weight: 900;
}

.mine {
    border-color: rgb(230, 24, 24);
    background-color: rgba(230, 24, 24, 0.70);
}




.footer {
    margin: 0 auto;
    margin-block-start: 1%;
    height: 20%;
    padding: 20px;

    width: 50%;
    border-radius: 4.0%;
    background-color: rgba(4, 44, 120, 0.5);
}

.footer h1 {
    text-align: center;

    font-size: 50px;
    color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}