.board-container {
    margin: 100px;
}

.cell {
    width: 60px;
    height: 60px;
    color: rgb(29, 7, 152);
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;

    border: 3px inset rgb(102, 123, 208);
    border-radius: 15%;
    background-color: rgba(102, 123, 208, 0.2);
}

.marked {
    border: 6px outset rgb(162, 19, 5);
}

.revealed {
    border: 6px outset rgb(102, 123, 208);
}

.empty {
    background-color: rgba(14, 232, 112, 0.542);
}
.mine-Nearby {
    background-color: rgba(221, 158, 10, 0.437);
}
.mine {
    background-color: rgba(230, 24, 24, 0.583);
}

span {
    display: none;
}